.ingest-form {
  padding-top: 2rem;
  position: relative;
  width: 100%;

  .drop-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 400px;

    .upload-instructions {
      margin-top: 12px;
    }

    .dropzone {
      align-items: center;
      border: 2px dashed $mediumergray;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      height: 300px;
      justify-content: center;
      margin-bottom: 1.5rem;
      width: 100%;

      &.drag-active {
        background-color: $translucent-blue;
        border: 2px solid $blue;
      }

      .icon {
        color: $mediumergray;
        height: 75px;
        width: 125px;
      }
    }
  }

  .app-header {
    align-items: center;
    background: $white;
    border-bottom: 1px solid $white;
    display: flex;
    flex-direction: row;
    height: 4rem;
    left: 0;
    padding: 0 1rem;
    top: 0;
    width: 100%;

    &.sticky {
      position: fixed;
    }

    .actions {
      align-items: center;
      display: flex;
      margin-left: auto;
    }
  }

  .header-text {
    font-size: 20px;
  }

  .edit-page {
    margin-top: 2rem;
  }

  .description {
    font-weight: 300;
  }

  .details-header {
    font-size: 22px;
    font-weight: 300;
    margin: 1.5rem 0;
  }

  .file-details {
    & * {
      line-height: 2rem;
    }
  }

  .progress {
    display: grid;
    gap: 20px; // sass-lint:disable-line no-misspelled-properties
    margin-top: 1rem;

    .progress-step {
      align-items: center;
      display: grid;
      gap: 20px 10px; // sass-lint:disable-line no-misspelled-properties
      grid-template-columns: 45px 1fr 1fr;

      &.pending-step {
        opacity: 0.4;
      }
    }

    .progress-icon {
      height: 26px;
      width: 26px;
    }
  }

  .error-notification {
    border: 1px solid $mediumestgray;
    padding: 1rem 1.5rem;
    visibility: hidden;

    &.visible {
      margin-top: 2rem;
      visibility: visible;
    }
  }

  .file-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-top: 16px;

    .thumbnail {
      display: inline-flex;
      height: 100px;
      margin-right: 10px;
      width: 100px;

      .image-wrapper {
        overflow: hidden;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100px;
      }
    }
  }
}

.input-description {
  font-size: 12px;
}
