$white: #fff;
$black: #000;
$lightestgray: #f9f9f9;
$lightergray: #f3f3f3;
$lightgray: #eee;
$mediumgray: #ccc;
$mediumergray: #aaa;
$mediumestgray: #888;
$darkgray: #555;
$darkergray: #333;
$darkestgray: #151515;

$blue: #2e69c6;
$gold: #ffc010;
$red: #f00;
$mediumred: #a33;
$green: #058005;

$translucent-black: rgba($black, 0.5);
$light-translucent-black: rgba($black, 0.25);
$translucent-blue: rgba($blue, 0.2);

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin elv-no-select {
  user-select: none;
}

@mixin elv-select {
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+") no-repeat 98% 50%;
  border: 1px solid $elv-color-gray;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  padding: 0 0 0 $elv-spacing-xxs;
  width: 250px;
}
